# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary & coverage
*.test
*.out
coverage.*
*.coverprofile
profile.cov

# Build / output
build/bin
frontend/dist
logs

# Dependency / lock files
node_modules
bun.lock
package-lock.json

# Go workspace / sum
go.work
go.work.sum
go.sum

# Env / config
.env
package.json.md5

# Editor / OS
.DS_Store
# .idea/
# .vscode/